*.swp
*.[oa]
*.so*
*~
*.Po
*.Plo
*.lo
*.la
*.lai
Makefile
*.cache
*.m4
Makefile.in
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
.deps
*.info
*.pc
*.spec
.libs/*
compile
.idea

docs/html/
docs/latex/

